.content {
    flex: 1;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content__title {
    margin: 0 0 2rem;
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
}