.intro__text {
    font-size: 1.2rem;
    color: $gray_dark;
}

.intro__title {
    margin-bottom: .5rem;

    font-size: 3.2rem;
    line-height: 1.2;
    color: $black;
    font-weight: 600;

    @media (max-width:575px) {
        font-size: 2rem;
    }
}

.intro__subtitle {
    margin-bottom: 2rem;

    font-size: 1.6rem;
    color: $black;
    font-weight: 400;

    @media (max-width:575px) {
        font-size: 1.2rem;
    }
}

.intro__subtitle-pink {
    color: $pink;
}
