.nav {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}

.nav__link {
    padding: .3rem 1.5rem;
    margin-right: 1rem;

    color: $black;
    text-decoration: none;

    border-radius: 20px;

    transition: background .1s linear;

    &:hover {
        background-color: darken($gray, 3%);
    }


    &.active {
        color: $white;
        background-color: $pink;
    }
    @media (max-width:575px) {
        padding: .1rem .5rem;;
    }
}
