<footer class="footer">
    <div class="container">

        <div class="social">
            <div class="social__text">Мои соц.сети</div>
            <a class="social__link" href="https://vk.com" target="_blank">
                <svg class="social__icon">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>

            <a class="social__link" href="https://fb.com" target="_blank">
                <svg class="social__icon  social__icon--fb">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>

            <a class="social__link" href="https://instagram.com" target="_blank">
                <svg class="social__icon  social__icon--ins">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a>
        </div>

    </div>
</footer>
