<!-- Modal -->
<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>

            <div class="modal__title">Оставить заявку</div>
            <div class="modal__text">Заполните форму ниже и я свяжусь с вами в ближайшее время!</div>

            <form class="form" action="/" method="post">
                <div class="form__group">
                    <input class="input" type="text" placeholder="Ваше имя">
                </div>
                <div class="form__group">
                    <input class="input" type="email" placeholder="Ваш e-mail">
                </div>
                <div class="form__group">
                    <input class="input" type="tel" placeholder="Ваш телефон">
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn  btn--pink" type="submit">Оставить заявку</button>
                    </div>
                    <div class="col-lg-6">
                        <ul class="contacts  contacts--modal">
                            <li class="contacts__item">
                                <a class="contacts__link" href="tel:+7891123345">+789-112-3345</a>
                            </li>
                            <li class="contacts__item">
                                <a class="contacts__link" href="https://github.com/pancake3301/">github.com/pancake3301/</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
